body{
    background-color: black;
    font-family: 'Inconsolata', sans-serif;
}

#container{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

header{
    width: 800px;
    height: 150px;
    border: 1px solid black;
}

h1{
    text-align: center;
 /*   margin: 10px;*/
    font-size: 48px;
    color: white;
    vertical-align: middle;

}
h3{
     background-color: #DC143C;
}
nav{
    float: left;
    width: 200px;
    height: 100%;
    background-color: black;
    /*border: px solid white;*/
}

/*aside{
    float: right;
    width: 200px;
    height: 447px;
    border: 1px solid white;

}*/

article{
    float: right;
    margin: 0 auto;
    width: 596px;
    height: 100%;
    color: white;
    border: 1px solid white;
    
}

.fa{
    margin: 30px;
    font-size:48px;
    /*background-color: white;*/
}

.fa1{
    font-size:48px;
}

.img-circle{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /*width: 30%;*/
}
.p1{
    margin-left: 30px;
}

/*p{
    color: white;
}
*/

footer{
    margin: 3px;
    text-align: center;
    color: white;
}