body{
    background-color: black;
}

#container{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

header{
    width: 800px;
    height: 150px;
    border: 1px solid black;
}

h1{
    text-align: center;
 /*   margin: 10px;*/
    font-size: 48px;
    color: white;
    vertical-align: middle;

}
nav{
    float: left;
    width: 200px;
    height: 447px;
    border: 1px solid white;
}

aside{
    float: right;
    width: 200px;
    height: 447px;
    border: 1px solid white;

}

article{
    margin: 0 auto;
    width: 396px;
    height: 447px;
    border: 1px solid white;
    
}

footer{
    text-align: center;
    color: white;
}