body, html {
    height: 100%;
}

.button {
    cursor: pointer;
}

.navbar {
background-color: LightBlue;
}
.circle {
    height: 256px;
    width: 256px;
    border-radius: 50%;
}
 .bg {
    background-color:LightGray;
 }

.fixed {
     position: fixed;
     bottom: 0;
     min-width: 100%;
 }